@page
@model Dashboard.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
@section PageCSS{
    <link href="@Url.Content("~/css/dashboard.css")" rel="stylesheet" type="text/css" />
    <script src="lib/Highcharts-6.1.0/code/highcharts.js"></script>
    <script src="lib/Highcharts-6.1.0/code/themes/dark-unica.js"></script>
@*    <script src="lib/Highcharts-6.1.0/code/modules/exporting.js"></script>*@
@*    <script src="lib/Highcharts-6.1.0/code/modules/export-data.js"></script>*@
}
<div class="row">
    <div class="col-lg-3">
        <div class="dashboard-box">
            <p class="header">
                قیمت سکه
            </p>
            a
        </div>
    </div>
    <div class="col-lg-3">
        <div class="dashboard-box">
            <p class="header">
                قیمت سکه
            </p>
            a
        </div>
    </div>
    <div class="col-lg-3">
        <div class="dashboard-box">
            <p class="header">
                قیمت سکه
            </p>
            a
        </div>
    </div>
    <div class="col-lg-3">
        <div class="dashboard-box">
            <p class="header">
                قیمت سکه
            </p>
            a
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="dashboard-box">
            <p class="header">
                قیمت سکه
            </p>
            <div class="chart" id="chart"></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="dashboard-box">
            <p class="header">
                قیمت سکه
            </p>
            <div class="chart" id="chart1"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="dashboard-box">
            <p class="header">
                قیمت سکه ۱
            </p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="dashboard-box">
            <p class="header">
                قیمت سکه ۱
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="carousel" 
             data-flickity='{
                "autoPlay": 2000,
                "wrapAround": true,
                "pageDots": false,
                "draggable": false
            }'>
            <div class="carousel-cell gallery-cell">
                <div class="dashboard-box">
                    <p class="header">
                        قیمت سکه ۱
                    </p>
                    <div class="chart" id="chart2"></div>
                </div>
            </div>
            <div class="carousel-cell gallery-cell">
                <div class="carousel-cell gallery-cell">
                    <div class="dashboard-box">
                        <p class="header">
                            قیمت سکه ۲
                        </p>
                        <div class="chart" id="chart3"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell gallery-cell">
                <div class="carousel-cell gallery-cell">
                    <div class="dashboard-box">
                        <p class="header">
                            قیمت سکه ۳
                        </p>
                        <div id="chart4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="js/test.js"></script>
    <script src="js/test1.js"></script>
    <script src="js/test2.js"></script>
    <script src="js/test3.js"></script>
    <script src="js/test4.js"></script>
}
