@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section PageCSS{
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
<div class="row center-verticall">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="general-box">
            <div class="login-part">
                <form action="#">
                    <p class="header-box">ورود اعضا</p>
                    <img src="~/images/usericon.png" class="myicons" alt="usericon" />
                    <input class="login-textfield username-textfield" type="text" placeholder="نام کاربري">
                    <img src="~/images/passwordicon.png" class="myicons" alt="passwordicon" />
                    <input class="login-textfield password-textfield" type="password" placeholder="رمز عبور">
                    <input class="login-page-button login-button" type="submit" value="ورود به سيستم">
                </form>
                <a class="forgot-pass-link" href="#">رمز عبور خود را فراموش کرده ايد؟</a>
            </div>
            <hr class="hr-between">
            <div class="register-part">
                <button onclick="window.location.href='#'" class="login-page-button register-button">ثبت نام</button>
            </div>
        </div>
    </div>
</div>