@page
@model Dashboard.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
@section PageCSS{
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
}
<div class="row center-verticall">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="general-box">
            <div class="login-part">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <p class="header-box">ثبت نام</p>
                    <div asp-validation-summary="All" class="validation-error"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 textfeild-n">
                            <input asp-for="Input.Name" class="login-textfield-1 name-textfield" type="text" placeholder="نام">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 textfeild-f">
                            <input asp-for="Input.LastName" class="login-textfield-1 fname-textfield" type="text" placeholder="نام خانوادگی">
                        </div>
                    </div>
                    <img src="~/images/usericon.png" class="myicons" alt="usericon" />
                    <input asp-for="Input.Email" class="login-textfield username-textfield" type="text" placeholder="پست الکترونیکی">
                    <img src="~/images/passwordicon.png" class="myicons" alt="passwordicon" />
                    <input asp-for="Input.Password" class="login-textfield password-textfield" type="password" placeholder="رمز عبور">
                    <input class="login-page-button register-button" type="submit" value="ثبت نام">
                </form>

            </div>
            <hr class="hr-between">
            <div class="register-part">
                <p class="login-text">دارای حساب کاربری هستید؟</p>
                <button onclick="window.location.href='/Index'" class="login-page-button login-button">ورود اعضا</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}