body {
    height: 100%;
    background-image: url("../images/wallpaper-loginpage-10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.general-box {
    background-color: rgba(37, 44, 56, 0.6);
}
.login-part {
    /* border-bottom : 1px solid rgb(144, 148, 157); */
    padding: 30px;
}
.header-box {
    color: rgb(144, 148, 157);
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}
.myicons {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0;
    padding: 0;
}
.login-textfield{
    display: inline-block;
    border: 0;
    width: calc(100% - 47px);
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: rgba(20, 19, 24, 0.7);
    color: rgb(144, 148, 157);
    font-size: 15px;
    margin: auto;
}
.login-textfield:focus{
    outline-color: rgb(144, 148, 157);
}
.username-textfield {
    margin-bottom: 15px;
}
.password-textfield {
    /*argin-top: 15px;*/
    margin-bottom: 20px;
}
.forgot-pass-link {
    text-align: center;
    display: block;
    margin: auto;
    color: rgb(144, 148, 157);
    text-decoration: none;
    font-size: 12px;
}
.forgot-pass-link:hover{
    color: rgb(120, 120, 130);
    text-decoration: none;
}
.hr-between {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid rgb(100, 100, 100);
}
.register-part {
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.login-page-button{
    color: rgb(0, 0, 0);
    display: block;
    margin: auto;
    text-align: center;
    border: 0;
    width: 80%;
    height: 40px;
    text-decoration: none;
    transition: 0.3s background;
    -moz-transition: 0.3s background;
    -webkit-transition: 0.3s background;
    -o-transition: 0.3s background;
}
.login-page-button:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s background;
    -moz-transition: 0.3s background;
    -webkit-transition: 0.3s background;
    -o-transition: 0.3s background;
}
.login-button {
    vertical-align:middle;
    background-color: rgb(205, 204, 198);
    margin-bottom: 15px;
}
.login-button:hover{
    background-color: rgb(170, 180, 180);
}
.register-button {
    background-color: rgb(126, 155, 133);
}
.register-button:hover {
    background-color: rgb(100, 125, 113);
}
.center-verticall{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}